<%- include("../partials/head.ejs") %> 
<body>
    <%- include("../partials/header.ejs") %>
    <main>
     <section class="category-list">
         <h3>Categorias</h3><i class="fa-solid fa-angles-right"></i>
        <ul>  <% for( let i = 0; i < genero.length; i++) { %>
         <li><%= genero[i].name %></li>
        <% } %>

        </ul>
        <ul class="other-list">
            <li>Peliculas</li>
            <li>Series</li>
            <li>Estrenos</li>
            <li>En directo</li>
        </ul>
     </section>
     <section class="movies">
        <% for (let i = 0; i< movies.length; i++) {%>
             <div class="movie-description">
                <img src="<%= movies[i].img %>" alt="">
                <p><%= movies[i].name %></p>
            </div>
            <% } %>  
     </section>
    </main>
    <%- include("../partials/footer.ejs") %> 
</body>
</html>